<section class="empty-state">
  <h2 class="empty-state-text">Ainda não possuimos nenhuma rota definida :(</h2>
  <%= image_tag('car.svg', class: 'empty-state-icon') %>
  <h1 class="empty-state-title">QR BUS</h1>
</section>